.speech {
    color:black;
    font-size: medium;
    font-style:italic;
    text-indent: 20px;

}
.song{
    color:black;
    font-size: medium;
    font-style:italic;
    text-indent: 70px;

} 
.direction{

    background-color: rgb(192, 192, 232);
    font-size: 20px;
    font-family: 'Times New Roman', serif,Times;

} 
.direction:hover {
    background-color: aqua;
    color: blueviolet;}



.CHORUS{
    color:black;
 font-size: medium;
 font-style:italic

}

.LUDWIG{
    color:black;
 font-size: large;
 font-style:italic

}
 

.LISA{
    color:black;
    font-size: large;
    font-style:italic
}

.JULIA{
    color:black;
 font-size: large;
 font-style:italic

}

table,td,th{
    border: solid 1px;
    color: rgb(247, 130, 20);
    text-align: center;
    padding: 1em;
    margin: 1px;
    
}
tr:nth-child(odd){
background-color: rgb(52, 20, 232);
}